.commentsButtons {
    min-height: 25px;
    border-radius: 7px;
    font-size: large;
    padding: 5px 1em;
    background-color: blueviolet;
    color:aliceblue;
    font-weight: 700;
    border: 4px solid;
    margin: 4px;
    margin-bottom: 10px;
}

#back {
    background-color: orange;
    color: rgb(120, 39, 195);
}

#submitComment {
    background-color: rgb(1, 132, 1);
    color:bisque;
    margin-left: 45vw;
    margin-top: 10px;
}

#commentBox {
    min-width: 70vw;
    min-height: 4em;
    font-size: large;
}

#commentLabel {
    padding-right: 50vw;
    font-size: large;
}