.ReviewCardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewCard {
    border: 2px solid blueviolet;
    border-radius: 10px;
    padding-left: 10px;
    margin: 5px 0;
    width: 90vw;
    display: flex;
    flex-direction: column;
    text-align: left;
}

p {
    margin: 3px 0;
}

h4 {
    text-align: center;
    margin: 3px 0;
}